@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 62, 0, 70;
  --background-end-rgb: 111, 0, 29;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 62, 0, 70;
    --background-end-rgb: 111, 0, 29;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #90a88b;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  color: black;
}
